#cync_main_contents {
    .ui-datatable thead th:first-child,
    .ui-datatable-tablewrapper thead th:first-child {
        padding-top: 9px !important;
    }
    table {
        width: 100%;
    }
}
.p-t-b-10{
	padding-top:10px;
	padding-bottom:10px;
}
.aligin-center-div{
 //   top: 165px;
}
.aligin-center-main{
    margin: 0 auto;
    height: 100%;
}

