<div class="app-body-container bg-white" id="app-body-container" ng-show="yes_visible" ng-controller="app_body_container">
            <div class="close-btn-dash pull-right text-right top-action-btns">

        </div>            <div class="pad-inner">
                <h3 class="no-m-bt">Notification Settings</h3>
                
                <div class="brder-1">
                    <div class="has-scrollbar" id="main_contents">


                        <div class="row no-marg email-header">


                            <div class="btn-group btn-group-vertical-email col-xs-12 col-sm-12 col-md-10" data-toggle="buttons">
                                <label class="btn active radio-inline col-xs-4 col-sm-4 col-md-1 w_140" [routerLink]="['/notificationCenter/global-setting']">
                                    <input type="radio" name='letter-type'>
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    <i class="fa fa-dot-circle-o fa-2x"></i>
                                    <span>Global Settings</span>
                                </label>
                                <label class="btn active radio-inline col-xs-4 col-sm-4 col-md-1 w_140">
                                    <input type="radio" name='letter-type' checked>
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    <i class="fa fa-dot-circle-o fa-2x"></i>
                                    <span>Role Settings</span>
                                </label>
                                <label class="btn active radio-inline col-xs-4 col-sm-4 col-md-1 w_140" [routerLink]="['/notificationCenter/user-setting']">
                                    <input type="radio" name='letter-type'>
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    <i class="fa fa-dot-circle-o fa-2x"></i>
                                    <span>User Settings</span>
                                </label>

                            </div>
                        </div>
                       <div class="row no-marg">
                            <div class="col-xs-12 col-sm-4 col-md-2 p_b_10">
                                <label class="mandatory">Product Type :</label>
                                <select [(ngModel)]="productType" (change)="onChangeProductType(productType)" class="form-control">
                                <ng-container *ngFor="let product of productTypeList">
                                <option [ngValue]="product.module_name">{{product.module_name}}</option> 
                                </ng-container>
                                </select>
                            </div>
                        </div>

                        <div class=" col-md-12">
                            <div class="col-md-3 col-sm-12 col-xs-12 cync-grid-search no-marg">
                                <h5 class="col-md-12 col-sm-12 col-xs-12">
                                    Roles
                                </h5>
                        <div id="custom-search-input">
                        <div class="ui-corner-all ui-multiselect-header ui-helper-clearfix only-btm-brder">
                        
                              <div class="ui-multiselect-filter-container">
                            <p-autoComplete 
                            placeholder="Search Roles" [suggestions]="filteredRolesList" (completeMethod)="searchRole($event)" (onSelect)="searchRoleByName()" [(ngModel)]="role" 
                            (onKeyUp)=" onKeyPress(role)"
                            field="name" class="search-input-text">
                            </p-autoComplete>
                              <span class="fa fa-fw fa-search right-align roleSearch" *ngIf="showCloseIcon" style="pointer-events: none;" ></span>


                         <span (click)="clearSearchBox()" *ngIf="!showCloseIcon">
                      <i class="fa fa-fw fa-close pos_right  right-align roleClose" aria-hidden="true"></i>
                    </span> 



                        </div>


                    </div>
             <ul class="list-group" style="height:250px;" *ngIf="roleList!=undefined" id="roleIdsListCollection">
             <ng-container *ngFor="let x of roleList">
                    <li [ngClass]="(selectedListValue != x.id)? 'list-group-item':'list-group-item active-list-item'" [attr.id]="x.id">
                        <span (click)="roledata(x.id)">{{x.name}}</span>
                    </li>

                        </ng-container> 
                    </ul> 

                                </div>
                            </div>

                            <div class="col-md-9 col-sm-12 col-xs-12" *ngIf="roleList!=undefined && roleList.length>0">
                            <div class="select-purpose {{isEditShowIcon}}">
                            <i class="glyphicon glyphicon-info-sign fa-3x"></i>
                             <br/>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                  Please select the roles from the left.
                              </div>
                            </div>

                           <!--  <div class="col-md-12 text-right pane-btm-brder {{isSelectAll}}">

                                     <p-checkbox binary="true" name="role_notification" label="Select All" value="val1" [(ngModel)]="changedValueRole" (onChange) = "selectAllForRole($event)"></p-checkbox> 
                                </div> -->
                                <div class="col-md-12 panel-btm-brder {{isHideShowData}}" *ngFor = "let c of dataCollection; let i = index; ">
                                    <div class="col-md-10 p-l-0">
                                        <span>{{c.name}}</span>
                                    </div>
                                    <div class="col-md-2 text-right p-r-0" *ngFor = " let selectedValue of subscriptionArray; let index = index; trackBy:trackByIndex; ">
                                        <select *ngIf = "i == index" [(ngModel)]="subscriptionArray[index]" (change)="onChangeForRole($event.target.value)" placeholder="selectedValue" id="typeValueRole{{index}}" class="form-control wid_100 pull-right p-3px">
                                        <option value="S">Select </option>
                                        <option *ngIf="c.email != undefined" value="E">Email</option>
                                        <option *ngIf="c.text != undefined" value="T">Text</option>
                                        <option *ngIf="c.text != undefined && c.email != undefined" value="B">Both</option>
                                        </select>

                                    </div>
                              </div>
                        </div>
                        


                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-right sticky_btn_actions">
                            <hr>
                            <button [disabled] = 'isDisable'  (click)="cancelRoleSetting()" id="action_back" label="Cancel" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn">
                                <span class="ui-button-text ui-clickable no-pad">Cancel</span>
                            </button>
                            <button [disabled] = 'isDisable' (click)="saveData()" id="action_save" label="Save" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn">
                                <span class="ui-button-text ui-clickable no-pad">Save</span>
                            </button>
                        </div>
                   
                </div>
                </div>
            </div>