<div class="app-body-container bg-white client-assginment client-assginment-custom-style is_summary" id="app-body-container" ng-show="yes_visible" ng-controller="app_body_container">

	<div class="close-btn-dash pull-right text-right top-action-btns">
	</div>

	<div class="pad-inner">
		<h3 class="no-m-bt">Client Assignment</h3>
		<div class="brder-1 p-t-32">
			<div class="has-scrollbar client-mapping" id="main_contents">

				<div class="ui-g-12 ui-md-6 ui-lg-4">
					<div class="ui-multiselect-panel ui-widget ui-widget-content ui-corner-all ui-shadow colleteral-loan-select">
						<span class="heading">Assign Clients From</span>
						<div class="input-group client-assignment-search">
							<span class="input-group-addon search-by" id="basic-addon3">Search by</span>
   							<span class="input-group-addon icon-input-field border-right-none"><i class="fa fa-search" aria-hidden="true"></i></span>

   								<p-autoComplete 
		                        [(ngModel)]="manager" [suggestions]="filteredManagersList"
		                        (completeMethod)="searchManager($event)"
		                        (onKeyUp)="reInitializeClientsFromData()"
		                        (onSelect)="searchClientByManager()"
		                        placeholder="Enter manager name" field="user_name"
		                         class="search-input-text"></p-autoComplete>

   							<span (click)="clearClientFromInput($event)" class="input-group-addon icon-input-field"><i class="fa fa-close" aria-hidden="true"></i></span>
						</div>

						<div class="ui-corner-all ui-multiselect-header ui-helper-clearfix ">
							<div class="ui-multiselect-filter-container">
								<input #input type="text" class="form-control ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched search-input-text-style"
	                        	[(ngModel)]="clientFromName" 
	                        	placeholder="Enter client name" value="">
								<span class="fa fa-fw fa-search"></span>
							</div>
						</div>

						<div class="ui-multiselect-items-wrapper">
							<ul class="has-scrollbar ui-multiselect-items ui-multiselect-list ui-widget-content ui-widget ui-corner-all ui-helper-reset" style="max-height: 300px;">
								<li 
								*ngFor="let cl of clientsByManagerList | filterBy: {client_name: clientFromName}"
								class="ui-multiselect-item ui-corner-all" style="display: block;">
		                            <div class="ui-chkbox ui-widget">
		                                <div class="ui-helper-hidden-accessible">
		                                    	<p-checkbox
				                        		[(ngModel)]="sc"
					                        	 value="{{cl.id}}" >
					                        	</p-checkbox>
		                                </div>
		                                <div class="ui-chkbox-box ui-widget ui-corner-all ui-state-default">
		                                    <span class="ui-chkbox-icon ui-clickable">
		                                    </span>
		                                </div>
		                            </div>
		                            <label>{{cl.client_name}}</label>
		                            
		                        </li>
							</ul>
						</div>

					</div>
				</div>

				<div class="ui-g-12 ui-md-6 ui-lg-4">
				<div class="ui-multiselect-panel ui-widget ui-widget-content ui-corner-all ui-shadow colleteral-loan-select">
					<span class="heading">Assign Client To</span>
					<div class="input-group client-assignment-search">
						<span class="input-group-addon search-by" id="basic-addon3">Search by</span>
					   	<span class="input-group-addon icon-input-field border-right-none"><i class="fa fa-search" aria-hidden="true"></i></span>
						  		<p-autoComplete [(ngModel)]="managerTo" [suggestions]="fmList"
	                        	(completeMethod)="searchManager($event)"
	                        	(onKeyUp)="reInitializeClientsToData()"
	                        	(onSelect)="searchAssignedClientByManager()"
	                        	placeholder="Enter manager name" field="user_name">
	                        	</p-autoComplete>
						<span (click)="clearClientToInput($event)" class="input-group-addon icon-input-field"><i class="fa fa-close" aria-hidden="true"></i></span>
					</div>
					<div class="ui-corner-all ui-multiselect-header ui-helper-clearfix">
                 	</div>
                 	<div class="ui-multiselect-items-wrapper">
                 		<ul class="has-scrollbar ui-multiselect-items ui-multiselect-list ui-widget-content ui-widget ui-corner-all ui-helper-reset" style="max-height: 200px;">
                 			<li class="ui-multiselect-item ui-corner-all" style="display: block;"  
                 			*ngFor="let assCl of assignedClientsList">
                 				<label>{{assCl.client_name}}</label>
                 			</li>
                 		</ul>
                 	</div>
				</div>
				</div>





				

				<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-right sticky_btn_actions">
					<hr>
						<button id="action_back" label="Cancel" pbutton="" 
						[disabled]="isValid()"
						(click)="copyClients()"
						type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn"><span class="ui-button-text ui-clickable no-pad">Copy</span></button>

						<button id="action_save" label="Save" pbutton="" 
						[disabled]="isValid()"
						(click)="transferClients()"
						type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn"><span class="ui-button-text ui-clickable no-pad">Transfer</span></button>

				</div>



			</div>
		</div>
	</div>

	

</div>

