<div class="app-body-container bg-white" id="cync_app-body-container" ng-show="yes_visible" ng-controller="app_body_container">
            <div class="close-btn-dash pull-right text-right top-action-btns">

    
    </div>            <div class="pad-inner">
                <h3 class="no-m-bt">Dilution Analysis</h3>
                 <div class="p-t-16">
            <!-- <div class="has-scrollbar" id="cync_main_contents"> -->
                <div>
                    <div class="ui-datatable-tablewrapper">
                        <grid [gridModel]="dilutionAnalysisModel"></grid>
                    </div>
                </div>
            <!-- </div> -->
        </div>
            
            </div>
        </div>