.bbc-basic-parameter .label-detail{
width: 12.66%;
color: #154BA2;
}

.border-bottom-custom{
  border:1px solid #afafafc2;
}
 .m-t-15{
 	margin-top: 15px;
 }
 .m-0{
 	margin:0;
 }

 .b-r-1{
 	border-right: 1px solid #e3e3e3;
 }
