.top-title{
    font-size: 14px;
    padding: 3px;  
    font-weight: 600;
    text-align: left;
  }  
  .msg-title{
    padding-top: 5px;
    padding: 6px;
    font-size: 12px;
    line-height: 18px;
  }
  
  .broker{
    height: 30px;
    margin-bottom: 5px;
    
    }
    .info{
      padding-left: 5px;
      font-size: 14px;
    }
    .align-right{ text-align: right;}
    .buttom-section{ 
      padding: 4px;
      text-align: right;
      margin: auto;
      padding-right: 15px;

    }