.bbc-basic-parameter .label-detail {
  width: 12.66%;
  color: #154ba2;
}
#main_contents {
  height: 390px !important;
}
.bbc_basic_paramter {
  height: auto;
  margin: 0;
}
.pad-inner {
  padding-top: 0;
}
.parentsectionRow {
  margin-top: 2.5vw;
}

.border-bottom-custom {
  border: 1px solid #afafafc2;
}
.m-t-15 {
  margin: 0 !important;
  margin-top: 15px !important;
}
.m-0 {
  margin: 0;
}
.b-r-1 {
  border-right: 1px solid #e3e3e3;
}
.bpmargin-bottom {
  margin-bottom: 23px;
}
.m-right {
  margin-right: 10px;
}
