.web-hooks-dropdown {
  display: inline-block;
  width: 220px;
  height: 32px;
  border: 1px solid #aaa;
  padding: 2px;
  background: #fff;
}
.textBox {
  display: inline-block;
  width: 319px;
  height: 32px;
  border: 1px solid #aaa;
  padding: 2px;
}
.text-url-box {
  width: 260px;
}
.text-auth-box {
  width: 220px;
  display: inline-block;
}
.no-m-bt {
  padding: 2px 8px 2px 8px;
  margin: 6px 0px 6px 0px;
}
.submit-button-class {
  text-align: right;
}
.options-btn {
  padding: 6px 10px !important;
}
.webhook-cotainer {
  width: 100%;
  margin-top: 4px;
  height: auto;
  padding: 8px;
}
.webhooks-https {
  border: 1px solid #aaa;
  display: inline-block;
  width: 55px;
  text-align: center;
  padding: 6px;
}
.top-margin {
  margin-top: 10px;
}
.text-label {
  display: inline-block;
  width: 110px;
}
