
.mainContainer{
    height: 300px;
}
.editPannelHeading{
    width: 100%;
    height: 30px;
    padding: 0px 0 0 7px;
}
.editTemplatePannel{
    width: 100%;
    height: 30px;
    margin-left: 5px;
}
.tableWarp{
    width: 99%;
    height: 395px;
    overflow-y: scroll;
}
.btn{
    margin-right: 3px;
}
th{
    background-color: #D2E9FA;
    
}