.rollforward-equiry-heading {
    padding: 2px;
}
.rollForward-AddForm {
    margin: auto;
    display: block;
    width: 100%;
    padding-top: 20px;
    height: 55px;
}
.search_row {
    width: 100%;
}
.search-from-date {
    width: 26%;
    padding-left: 2px;
    padding-right: 2px;
}
.inquery-container-grid {
    display: block;
    width: 98%;
    margin: auto;
    margin-top: 4px;
}
.btn-style {
    // margin-top: 24px;
    cursor: pointer;
    min-width: 54px;
    text-decoration: none;
    text-shadow: none !important;
    white-space: nowrap;
    font-size: 13px;
    padding: 3px;
    text-align: center;
    height: 26px;
}
.colmd-search-div {
    padding-left: 2px;
    width: 40%;
}
.colmd-export-div {
    text-align: right;
    padding-left: 2px;
    width: 24%;
    padding-right: 0px;
}
.btn-export {
    text-align: center;
}
.btn-style-exp {
    margin-top: 15px;
    cursor: pointer;
    min-width: 54px;
    text-decoration: none;
    text-shadow: none !important;
    white-space: nowrap;
    font-size: 13px;
    padding: 3px;
    text-align: center;
    height: 26px;
}

.from-label {
    padding-top: 2px;
}
.to-label {
    padding-top: 2px;
    padding-right: 4px;
}
