// #main_ratest_contents{
//     height: 447px;
// }


.interest_rates_main_div{
	background-color: #EFFAFF;
    border-left: 1px solid #DAE2E5;
}
.m-l-0{
	margin-left:0 !important;
}
#interest_rate_date_picker{
	display: inline-flex;
}

#interest_rate_date_picker .fa-close{ 
	margin-top: 10px !important;
} 

