.custom-grid-input-field{
    width:-webkit-fill-available;
    background-color: #ffffff;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    height: 24px;
    text-align: right;

}