
 <div class="app-body-container bg-white" id="app-body-container" ng-show="yes_visible" ng-controller="app_body_container">
            <div class="close-btn-dash pull-right text-right top-action-btns">        
    </div>            <div class="pad-inner">
                <h3 class="no-m-bt">Collateral Reserves</h3>
                 <div class="p-t-16">
            <!-- <div class="has-scrollbar" id="main_contents"> -->
                <div>
                    <div class="ui-datatable-tablewrapper">
                         <grid [gridModel]="collateralreservesModel"></grid> 
                    </div>
                </div>
            <!-- </div> -->
        </div>
            
            </div>
        </div>

