<div class="app-body-container bg-white" id="cync_app-body-container" ng-show="yes_visible" ng-controller="app_body_container">
  <!-- <div class="close-btn-dash pull-right text-right top-action-btns">
  </div> -->
  <div class="pad-inner">
    <h3 class="no-m-bt">Ineligibility Reasons </h3>
    <div class="p-t-16">

      <div class="ui-datatable-tablewrapper">
        <!-- HEADER WITH SEARCH BOX, ADD,EDIT,DELETE ICONS STARTS -->
        <div class="cync-grid-search row no-marg">

          <!-- SEARCH INPUT FIELD STARTS -->
          <div class="col-md-6 col-sm-5 col-xs-12 p_l_2 hidden-xs hidde-sm">
            <div *ngIf="ineligibilityReasonsGridModel.isSearchAvailable" class="input-group grid-search">
              <input (keyup)="onKeyUp($event)" placeholder="Search Here" [(ngModel)]="searchTerm" type="text" class="form-control search-input-text"
                aria-describedby="basic-addon3" autocomplete="off">
              <span (click)="clearSearchBox()" class="input-group-addon icon-input-field border-right-none">
                <i *ngIf="toogleCloseBox" class="fa fa-close" aria-hidden="true">
                </i>
                <i *ngIf="toogleSearchBox" class="fa fa-search" aria-hidden="true">
                </i>
              </span>
            </div>
          </div>
          <!-- SEARCH INPUT FIELD ENDS -->

          <!-- ADD,EDIT,DELETE,EXPORT ICONS STARTS -->
          <div class="col-md-5 col-sm-6 col-xs-12 pull-right top-action-btns text-right no-pad" *ngIf="!ineligibilityReasonsGridModel.onlyListingComponent">

            <i id="New" [ngClass]="(isAddPermitted)? 'hand fa fa-plus fa-1x f_s_20 clr_grey ':'hand fa fa-plus fa-1x f_s_20 clr_grey icon_disabled operation_disabled'"
              aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Add New" *ngIf="ineligibilityReasonsGridModel.isAddFunctionalityRequired"
              (click)="goToAdd()"></i>
            <i id="Edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit" *ngIf="ineligibilityReasonsGridModel.isEditFunctionalityRequired"
              (click)="goToEdit()" [ngClass]="(toggleEditIcon) ? 'hand fa fa-pencil fa-1x clr_grey f_s_20':'hand fa fa-pencil fa-1x clr_grey f_s_20 icon_disabled operation_disabled'"></i>
            <i id="Delete" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete" *ngIf="ineligibilityReasonsGridModel.isDeleteFunctionalityRequired"
              (click)="delete()" [ngClass]="(toggleDeleteIcon) ? 'hand fa fa-trash fa-2x f_s_20 clr_grey ':'hand fa fa-trash fa-2x f_s_20 clr_grey icon_disabled operation_disabled'"></i>

             <i *ngIf="ineligibilityReasonsGridModel.isExportFunctionalityRequired" id="Export" class="hand fa fa-share-square-o fa-2x  clr_grey f_s_20"
                aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Export" (click)="showDialogForExport()"></i>
                <!-- EXPORT & SETTINGS ICON STARTS  -->
                <button data-toggle="dropdown" class="dropdown-toggle plain" aria-expanded="true" *ngIf="ineligibilityReasonsGridModel.isMoreIconsRequired">
                  <i id="more" class="hand fa fa-ellipsis-v fa-2x clr_grey f_s_20" aria-hidden="true" data-toggle="tooltip" data-placement="left"
                      title="More">
                  </i>
              </button>
              <ul *ngIf="ineligibilityReasonsGridModel.isMoreIconsRequired" class="dropdown-menu no-t-pad grid-menu-dropdown">
                  <li>
                      <a class="hand">Settings</a>
                  </li>
              </ul>
              <!-- EXPORT & SETTINGS ICON ENDS -->

          </div>
          <!-- ADD,EDIT,DELETE,EXPORT ICONS ENDS -->

        </div>
        <!-- HEADER WITH SEARCH BOX, ADD,EDIT,DELETE ICONS ENDS -->

        <!-- DATATABLE STARTS -->
        <div class="has-scrollbar row" id="cync_main_contents" (scroll)="onScroll($event)">
          <p-dataTable *ngIf="isDataLoading" [scrollable]="false" #dt [value]="gridData" (onRowUnselect)="unSelectChkBox()" (onHeaderCheckboxToggle)="selectAllChkBox()"
            (onRowSelect)="goToView($event)" dataKey="id" selectionMode="multiple" [(selection)]="selectedRows" [lazy]="false"
            (onFilter)="printFilteredData($event)">

            <p-column *ngIf="!ineligibilityReasonsGridModel.onlyListingComponent" selectionMode="multiple" disableSelection="true"></p-column>
            <p-column *ngFor="let col of ineligibilityReasonsGridModel.columnDef; let idx = index" [sortable]="col.sortable" [filter]="col.filter"
              [field]="col.field" [header]="col.header" [hidden]="col.hidden" filterMatchMode="contains" filterPlaceholder="Search"
              [style]="{'width':'300px'}">


              <!-- Checkbox Icon for System Defined Column starts -->
              <ng-template *ngIf="col.header == 'System Defined'" let-file="rowData" pTemplate="body">

                <span class="ui-cell-data f-s-15">
                  <i [ngClass]="file.system_defined? 'fa fa-check-square':'fa fa-square'" style="color:#cccccc">
                  </i>
                </span>

              </ng-template>
              <!-- Checkbox Icon for System Defined Column ends -->

              <!-- Checkbox Icon for Calculate on Negative Balance Column starts -->
              <ng-template *ngIf="col.header == 'Calculate on Negative Eligible Balance'" let-file="rowData" pTemplate="body">

                <span class="ui-cell-data f-s-15">
                  <i [ngClass]="file.calculate_on_negative_balance? 'fa fa-check-square':'fa fa-square'" style="color:#cccccc">
                  </i>
                </span>

              </ng-template>
              <!-- Checkbox Icon for Calculate on Negative Balance Column ends -->

               <!-- Checkbox Icon for Calculate on Negative Debtor Balance Column starts -->
               <ng-template *ngIf="col.header == 'Calculate on Negative Debtor Balance'" let-file="rowData" pTemplate="body">

                <span class="ui-cell-data f-s-15">
                  <i [ngClass]="file.calculate_on_negative_debtor_balance? 'fa fa-check-square':'fa fa-square'" style="color:#cccccc">
                  </i>
                </span>

              </ng-template>
              <!-- Checkbox Icon for Calculate on Negative Debtor Balance Column ends -->

            </p-column>
          </p-dataTable>

        </div>
        <!-- DATATABLE ENDS -->

        <!-- RECORD COUNT INFORMATION STARTS  -->
        <div *ngIf="isDataLoading" class="grid-loader">
          <div *ngIf="recordCount == -1;then grid_count_template else record_count_template"></div>
          <!-- Below code will be shown on load of the page or on scroll event -->
          <ng-template #grid_count_template>
            <p class="recordcount">
              <b>Showing {{gridData.length}} of {{showTotalrecords}} records</b>
            </p>
          </ng-template>

          <!-- below code is to show loader when user scrolls -->
          <span [hidden]="!showSpinner" class="center">
            <i class="fa fa-spinner fa-spin spinner-color"></i> Loading... &nbsp;
          </span>

          <!-- Below code will be shown on Column Search -->
          <ng-template #record_count_template>
            <p *ngIf="recordCount != -1 && recordCount!=gridData.length ; else grid_count_template" class="recordcount less_count">
              <b>Showing {{recordCount}} of {{showTotalrecords}} records</b>
            </p>
          </ng-template>
        </div>
        <!-- RECORD COUNT INFORMATION ENDS -->

        <!-- EXPORT CONFIRMATION POP UP STARTS -->
        <div class="form-group">
          <p-dialog header={{ineligibilityReasonsGridModel.type}} [(visible)]="toogleExportConfirmPoupup" appendTo="body" [modal]="true"
            width="500" height="auto" [responsive]="true">
            <div *ngFor="let col of exportColumns">
              <p-checkbox binary="true" [(ngModel)]="col.isChecked" label={{col.columnName}}></p-checkbox>
              <br>
              <br>
            </div>

            <p-footer>
                <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn btn btn-primary"
                  pButton icon="fa-check" label="Export" (click)="exportSelectedColumns(exportColumns)">
                  <span>Export</span>
                </button>
              </p-footer>
        </p-dialog>
        </div>
        <!-- EXPORT CONFIRMATION POP UP ENDS -->

        <!-- EXPORT WARNING POP UP STARTS -->
        <div class="form-group">
          <p-dialog header="Error" [(visible)]="isExportWarningPopupVisible" appendTo="body" [modal]="true" width="300" height="auto"
            [responsive]="true">
            <p style="color:red;">Select columns to export.</p>
          </p-dialog>
        </div>
        <!-- EXPORT WARNING POP UP ENDS -->

      </div>

    </div>
  </div>
</div>