
  .custom-date-filter a {
          position: relative;
          right: 20px;
          color: rgba(0, 0, 0, 0.54);
          cursor: pointer;
          font-family: sans-serif;
      }
      
      .custom-date-filter:after {
          position: relative;
          content: '\f073';
          display: block;
          font-weight: 400;
          font-family: sans-serif;
          right: 5px;
          pointer-events: none;
          color: rgba(0, 0, 0, 0.54);
      }