
  .top-title{
    font-size: 14px;
    padding: 4px;  
    text-align: left;
    font-weight: 600;
  }
  .rightAlign {
    text-align: right;
  }
  .cync-png-button {
    height: 32px;
    margin: 2px 4px 2px 4px;
  }
  .button{
    padding-bottom: 5px;
    float: right;
  }
  .title{
    padding-top: 5px;
    padding-left: 13px;
    padding-bottom: 12px;
  }
