.bbc-basic-parameter .label-detail {
    width: 12.66%;
    color: #154ba2;
  }
  #main_contents {
    height: 390px !important;
  }
  .bbc_basic_paramter {
    height: auto;
    margin: 0;
  }
  .pad-inner {
    padding-top: 0;
  }
  .parentsectionRow {
    margin-top: 2.5vw;
  }
  
  .border-bottom-custom {
    border: 1px solid #afafafc2;
  }
  .m-t-15 {
    margin: 0 !important;
    margin-top: 15px !important;
  }
  .m-0 {
    margin: 0;
  }
  .b-r-1 {
    border-right: 1px solid #e3e3e3;
  }
  .bpmargin-bottom {
      margin:0;
    margin-bottom: 20px;
  }
  .m-right {
    margin-right: 10px;
  }
  .basic_data{
      margin: 0;
      padding: 0;
      width: 100%;
  }
  .basicParameterMainContainer{
    margin-top: 8px;
    border-radius: 3px;
    height: 100%;
    z-index: 1;
    position: relative;
    background: white;
    font-family: "Open Sans";
    width:100%;
  }

  .basicParamHead{margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;}
  