<div class="main-body" id="sri">
<h4 class="reset-title"> Alert</h4>
<div class="reset-status-body">
    <h5>Do you want to reset all applicable users’ T&C Status to Pending? <br>
      Users will need to Accept Terms and Conditions to continue using the application.
      This will not impact users with Terms and Conditions set to Not Required.</h5>  
</div>
<div class="button-pannel">
  <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn" (click)="userResetStatusProcess()"> Proceed</button>
  <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn" (click)="test()" label="Cancel" >Cancel</button>
</div>
</div>