.padding{
    padding-left: 11px;
    padding-bottom: 17px;
}
.cync-container-pannel{
    padding: 5px;
}
.title{
    padding-right:11px;
}
.div-width{
    width:100px;
    height:30px ;
    border:1px solid #777 ;
    background-color: #ffff;
}
.align{
    padding:0px;
}
.ag-body-viewport-wrapper.ag-layout-normal {
    overflow-x: scroll;
  }
  .ag-root-wrapper {
      box-sizing: initial !important;
  }
  .grid-pad{
      padding-left: 2px;
      padding-right: 2px;
  }
  .bbc-title{
      padding-left: 10px;
  }
  .action-btn-wrapper{
    display: inline-block;
    margin: auto;
    height:15px;
    margin-top: 5px;
        .i-button{
        margin-left: 5px;
      
        }
  }
