 <div class="app-body-container bg-white detail_view" id="app-body-container" ng-show="yes_visible" ng-controller="app_body_container">
            <div class="close-btn-dash pull-right text-right top-action-btns">

    <!-- <div ng-click="hide_app_body()" class="pull-right hand"><i class="fa fa-times fa-2x clr_gray light_1" aria-hidden="true"></i></div> -->
    <!-- <div ng-click="hide_app_body()" class="pull-right hand m_r_5"><i class="fa fa-compress clr_gray" aria-hidden="true"></i></div> -->
            
    <div id="Edit" class="pull-right hand"><i (click)="edit()" class="hand fa fa-pencil fa-1x clr_grey f_s_24" aria-hidden="true"></i></div>
    <div id="Delete" class="pull-right hand"><i (click)="delete()" class="hand fa fa-trash fa-2x f_s_24 clr_grey" aria-hidden="true"></i></div>
    </div>            <div class="pad-inner">
                <h3 class="no-m-bt">Exchange Rates - View</h3>
                <!-- <small class="hidden-xs hidden-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit</small> -->
                <div class="brder-1 p-t-32">
                    <div class="has-scrollbar" id="main_contents">
                       
                        
                        <div>
          
      <div class="ui-datatable ui-widget ui-datatable-reflow exchange-rate-gridbg">
           
            <!----><div class="ui-datatable ui-widget-header">
           <span class="pull-left exchange-rate-thaed">
           Currency 1<br>
      <strong *ngIf="exchangeRateDetails != undefined">{{exchangeRateDetails.currencyPair.currencyIdBase.currencyName}}</strong>   
         
           </span>
          <span class="pull-left exchange-rate-thaed">
           Currency 2<br>
           <strong *ngIf="exchangeRateDetails != undefined">{{exchangeRateDetails.currencyPair.currencyIdTo.currencyName}}</strong>           
     </span>
            </div>
            <!---->
            <!----><div class="ui-datatable-tablewrapper exchange-rate-view">
                <table>
                    <thead class="ui-datatable-thead">
                        <!----><tr class="ui-state-default">
        <!---->
            <th>                
              Rate Type          
            </th>
             <th>                
               Mid Rate        
            </th>
             <th>                
              Buy Spread          
            </th>
             <th >                
             Sell Spread          
            </th>
             <th>                
              Buy Rate          
            </th>
             <th>                
              Sell Rate          
            </th>         
        
    </tr>
                        <!---->
                    </thead>
                    <!---->
                    <tbody class="ui-datatable-data ui-widget-content">                  
            <tr class="ui-datatable-even ui-widget-content" *ngFor="let rateTypeDtl of exchangeRateDetails?.rateDetails">
                <td>
                     
                      <span class="ui-cell-data ui-cell-data-view">{{rateTypeDtl.rateType.rateTypeName}}</span>
                      
                    </td>
                 <td>
                        
                       <span class="ui-cell-data ui-cell-data-view">{{rateTypeDtl.midRate}}</span>
                     
                    </td>
                  
                   <td>
                       
                       <span class="ui-cell-data ui-cell-data-view">{{rateTypeDtl.buySpread}}</span>
                     
                    </td>
                      <td>
                        
                       <span class="ui-cell-data ui-cell-data-view">{{rateTypeDtl.sellSpread}}</span>
                     
                    </td>
                  <td>
                        
                       <span class="ui-cell-data ui-cell-data-view">{{rateTypeDtl.buyRate}}</span>
                     
                    </td>
                     <td>
                       
                       <span class="ui-cell-data ui-cell-data-view">{{rateTypeDtl.sellRate}}</span>
                     
                    </td>
                
            </tr>
            
            <!---->
            <!---->
        
        
        

        <!---->
    </tbody>
                </table>
            </div>
            
            <!---->
       
            
            <div class="ui-column-resizer-helper ui-state-highlight" style="display:none"></div>
            <span class="fa fa-arrow-down ui-datatable-reorder-indicator-up" style="position: absolute; display: none;"></span>
            <span class="fa fa-arrow-up ui-datatable-reorder-indicator-down" style="position: absolute; display: none;"></span>
        </div>
              
              
              
              
              
                </div>
                    
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-right sticky_btn_actions">
<hr>


    <button (click)="navigateToHome()" id="action_cancel" label="Back" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn"><span class="ui-button-text ui-clickable no-pad">Back</span></button>


</div>                </div>
            </div>
        </div>
    </div>