
.advance-search-ui .modal-header{
    background-color:  #fff;
    color: #000;
}

.advance-search-ui .modal-dialog {
    margin: 0;
}

.advance-search-ui .modal-footer {
    padding: 10px;
}

.advance-search-ui .deleterow-icon {
    color: #919191;
}
.m-t-18{
    margin-top: 18px;
}