.p-right {
  padding-right: 0px;
  text-align: right;
  float: right;
}

.top-action-btns {
  right: 0px !important;
}

.pad-inner h3 {
  margin-left: 0px !important;
}

.fa-pencil:before {
  content: "\f040";
  //  font-size: 18px !important;
}

.m-left {
  margin-left: 0px !important;
}
.p-top {
  padding-top: 0px !important;
}
.m-top {
  margin-top: 10px !important;
}

// css for bucket name block
.bucketBlock {
  width: 24.5vw;
}

.bucketNamePannel {
  margin: 7px;
  display: flex;
}
.bucketName {
  width: 65%;
  height: 2vw;
  margin-left: 5px;
}

.pull-right {
  float: right !important;
}

.text-right {
  text-align: right !important;
}

.topHeadingPannel {
  margin: 1px;
  margin-top: 10px;
  background: #f4f1f1;
}
.m-right {
  margin-right: 10px;
}

.p-right-10 {
  padding-right: 10px;
}
