<div class="app-body-container bg-white show-financial-ratio" id="component_html_financial_wradio"
[ngClass]="{'style-for-fullscreen': isFullScreen}">


        <div class="pad-inner">
                <div class="row m-b-15">
                        <h3 class="no-m-bt no-left-marg">{{projectName}}</h3>
                        <!-- <small class="hidden-xs hidden-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit</small> -->
                        <div class="brder-1 p-t-32">
                                <div class="row btn-group btn-group-vertical-email col-xs-12 col-sm-12 col-md-10 active p-l-0" data-toggle="buttons">
                                                <common-radio-header></common-radio-header>
                                </div>
                        </div>
                </div>

                <div class="row no-marg cync-grid-search strip_marg">
                        <div class="col-md-3 col-lg-2 pad-left0">
                                <h3 class="balance_sheet_title">Financial Highlights</h3>
                        </div>
                        <div class="col-md-3 col-lg-2 pull-right top_8px_pad">
                                        <i id="Export" class="hand fa fa-expand fa-2x  clr_grey f_s_20" 
                                        aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                         title="Expand" *ngIf="!isFullScreen" (click)="fnExpand()"></i>
               
                                         <i id="Export" class="hand fa fa-compress fa-2x  clr_grey f_s_20" 
                                         aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                          title="Compress" *ngIf="isFullScreen" (click)="fnExpand()"></i>

                                <i aria-hidden="true" class="hand fa fa-share-square-o fa-2x clr_grey f_s_20" data-placement="top" data-toggle="tooltip"
                                        id="Export" title="Export" (click)="generatePdf()"></i>
                        </div>
                </div>
                <div class="has-scrollbar m_r_15" id="cync_main_contents_wradio-list"
                [ngStyle]="{ 'height' : isFullScreen ? '1500px' : '' , 'overflow' : isFullScreen ? 'none': ''}">

                        <!-- Highlights Graphs Starts Here -->
                        <div class="graph_row" id="graph_row_1">
                                <div id="cync_main_contents_chart">
                                        <div class="row graph-btm-brder">
                                                <div class="in-thousands">
                                                                <span class="ui-column-title font-normal" style="color:gray; font-style: italic">
                                                                                <em>$ in '000</em>
                                                                </span>
                                                </div>
                                                <ng-container *ngFor="let keys of keyFinancials; let j= index">
                                                        <!--                                                 <div class="chart_graph_row" id="{{'chart_content'+j}}">
 -->
                                                        <div class="{{numberofColumns}} graph_width chart_items" id="{{'chart_content'+j}}" *ngIf="keys.type != 'TABLE' && j < 4">
                                                                <div style="margin-bottom: 20px;">
                                                                        <h4 class="no-m-bt">
                                                                                <strong>{{keys.heading}}</strong>
                                                                        </h4>
                                                                        <h5 class="no-m-bt">
                                                                                <strong>{{showCurrencyifRequired(keys.heading)}}{{keys.lastValue | number}}</strong>
                                                                        </h5>
                                                                        <div [ngStyle]="{color:keys.lastYoy >= 0 ? 'darkgreen' : 'red' }">{{keys.lastYoy}}%</div>
                                                                </div>

                                                                <!-- Code for Line Chart -->
                                                                <chart *ngIf="keys.financeHighlightGraphType =='LINE_GRAPH'" [type]="'line'" [data]="{labels: keys.timeLines, datasets: [{ datalabels: {backgroundColor: 'RGBA(255,255,255,.5)', rotation: '-75' ,align:'top',anchor: 'end'},fillColor: '#ffffff' ,fill: false, borderColor: backGroundColor(keys.heading) , data: keys.data  }]}"
                                                                        [options]="options[j]"></chart>

                                                                <!-- Code for Bar Chart -->
                                                                <chart *ngIf="keys.financeHighlightGraphType =='BAR_GRAPH'" [type]="'bar'" [data]="{labels: keys.timeLines, datasets: [{datalabels: {backgroundColor: 'RGBA(255,255,255,.5)', rotation: '-75' ,align:'top',anchor: 'end'},data: keys.data ,backgroundColor: backGroundColor(keys.heading)}]}"
                                                                        [options]="options[j]"></chart>

                                                                <!-- Code for Combined Chart -->
                                                                <chart *ngIf="keys.financeHighlightGraphType =='BAR_LINE_GRAPH'" [type]="'line'" [data]="{labels: keys.timeLines, datasets: [{datalabels: {backgroundColor: 'RGBA(255,255,255,.5)', rotation: '-75' ,align:'top',anchor: 'end'}, fill: false, borderColor: backGroundColor(keys.heading), data: keys.data }]}"
                                                                        [options]="options[j]"></chart>


                                                                <div class="text-center" style="margin-bottom: 15px;">
                                                                        <strong>{{keys.heading}}</strong>
                                                                </div>
                                                        </div>
                                                        <!--                                                 </div>
 -->
                                                </ng-container>

                                        </div>

                                </div>

                        </div>
                        <!-- Highlights Graphs Ends Here -->

                        <!-- Key Financials Table Starts Here -->
                        <div >
                                <ng-container>
                                        <div class="row m-t-20">
                                                <div class="col-sm-12">
                                                        <div class="ui-datatable ui-widget">
                                                                <div class="ui-datatable-tablewrapper ui-datatable-resizable">
                                                                        <table class="custom-highlight-table"  id="key_financials_table">
                                                                                <thead class="ui-datatable-thead">
                                                                                        <tr class="ui-datatable-odd ui-widget-content master_head">
                                                                                                <td class="" [attr.colspan]="tableColspan+1">
                                                                                                        <div>
                                                                                                                <span class="ui-cell-data">Key financial
                                                                                                                        data
                                                                                                                </span>
                                                                                                        </div>
                                                                                                </td>

                                                                                        </tr>
                                                                                        <tr class="ui-state-default">
                                                                                                <th class="ui-state-default ui-unselectable-text ui-resizable-column input_column" scope="col">
                                                                                                        <span class="ui-column-title font-normal" style="color:gray; font-style: italic">
                                                                                                                        <em>$ in '000</em>
                                                                                                        </span>
                                                                                                </th>
                                                                                                <th class="years_row financial-data-custom ui-state-default
                                                                                                 ui-unselectable-text ui-resizable-column text-center input_column" scope="col" *ngFor="let timeperoids of timeLines">
                                                                                                        <span class="ui-column-title">{{timeperoids}}</span>
                                                                                                </th>
<!-- 
                                                                                                <th class="ui-state-default ui-unselectable-text ui-resizable-column" scope="col">
                                                                                                        <span class="ui-column-title"></span>
                                                                                                </th> -->
                                                                                        </tr>
                                                                                        <!-- <tr class="ui-state-default">
                                                                                                <th class="ui-state-default ui-unselectable-text ui-resizable-column input_column" scope="col">
                                                                                                        <span class="ui-column-title font-normal" style="color:gray; font-style: italic"></span>
                                                                                                </th>
                                                                                         

                                                                                        </tr> -->
                                                                                </thead>
                                                                                <tbody class="ui-datatable-data ui-widget-content">
                                                                                        <ng-container *ngFor="let key of keyFinancials">
<tr class="ui-datatable-even ui-widget-content">
<td class="report_values_label input_column_label">

        <span class="ui-cell-data">
                {{key.heading}} {{ key.symbol != null ? "(" + key.symbol + ")" : '' }}
        </span>

</td>

<td class="report_values input_column"  *ngFor="let values of key.data; let j = index">

        <span class="ui-cell-data">
                <div class="col-md-6 text-right" [ngStyle]="values <= 0 && {'color': 'red'}">

                        {{values != null ? (values | number) : "n.a."}}

                </div>
                <!-- <div class="col-md-6  text-right" [ngStyle]="key.yoys[j] <= 0 && {'color': 'red'}">
                        <em>{{key.yoys[j]
                                !=
                                null
                                ?
                                ((key.yoys[j]
                                |
                                number)+'%')
                                :
                                "n.a."}}
                        </em>
                </div> -->
        </span>

</td>
</tr>


<tr class="ui-datatable-even ui-widget-content">
<td class="report_values_label input_column_label">

        <span class="ui-cell-data">
                ▲ %
        </span>

</td>

<td class="report_values input_column"  *ngFor="let values of key.data; let j = index">

        <span class="ui-cell-data">
                <!-- <div class="col-md-6 text-right" [ngStyle]="values <= 0 && {'color': 'red'}">

                        {{values != null ? (values | number) : "n.a."}}

                </div> -->
                <div class="col-md-6  text-right" [ngStyle]="key.yoys[j] <= 0 && {'color': 'red'}">
                        <em>{{key.yoys[j]
                                !=
                                null
                                ?
                                ((key.yoys[j]
                                |
                                number)+'%')
                                :
                                "n.a."}}
                        </em>
                </div>
        </span>

</td>
</tr>

                                                                                        </ng-container>
                                                                                </tbody>
                                                                        </table>
                                                                        <hr class="hr_style" />
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </ng-container>

                        </div>
                        <!-- Key Financials Table Ends Here -->
                        <!-- Highlights Graphs Starts Here -->
                        <div class="graph_row" id="graph_row_2">
                                <div id="cync_main_contents_chart_1">
                                        <div class="row graph-btm-brder">
                                                <div class="in-thousands">
                                                                <span class="ui-column-title font-normal" style="color:gray; font-style: italic">
                                                                                <em>$ in '000</em>
                                                                </span>
                                                </div>
                                                <ng-container *ngFor="let keys of keyFinancials; let j= index">
                                                        <!--                                                 <div class="chart_graph_row" id="{{'chart_content'+j}}">
                             -->
                                                        <div class="{{numberofColumns}} graph_width chart_items" id="{{'chart_content'+j}}" *ngIf="keys.type != 'TABLE' && j > 3">
                                                                <div style="margin-bottom: 20px;">
                                                                        <h4 class="no-m-bt">
                                                                                <strong>{{keys.heading}}</strong>
                                                                        </h4>
                                                                        <h5 class="no-m-bt">
                                                                                <strong>{{showCurrencyifRequired(keys.heading)}}{{keys.lastValue | number}}</strong>
                                                                        </h5>
                                                                        <div [ngStyle]="{color:keys.lastYoy >= 0 ? 'darkgreen' : 'red' }">{{keys.lastYoy}}%</div>
                                                                </div>

                                                                <!-- Code for Line Chart -->
                                                                <chart *ngIf="keys.financeHighlightGraphType =='LINE_GRAPH'" [type]="'line'" [data]="{labels: keys.timeLines, datasets: [{datalabels: {backgroundColor: 'RGBA(255,255,255,.5)', rotation: '-75' ,align:'top',anchor: 'end'},fillColor: '#ffffff' ,fill: false, borderColor: 'red' , data: keys.data  }]}"
                                                                        [options]="options[j]"></chart>

                                                                <!-- Code for Bar Chart -->
                                                                <chart *ngIf="keys.financeHighlightGraphType =='BAR_GRAPH'" [type]="'bar'" [data]="{labels: keys.timeLines, datasets: [{datalabels: {backgroundColor: 'RGBA(255,255,255,.5)', rotation: '-75' ,align:'top',anchor: 'end'},data: keys.data ,backgroundColor: backGroundColor(keys.heading)}]}"
                                                                        [options]="options[j]"></chart>

                                                                <!-- Code for Combined Chart -->
                                                                <chart *ngIf="keys.financeHighlightGraphType =='BAR_LINE_GRAPH'" [type]="'line'" [data]="{labels: keys.timeLines, datasets: [{ datalabels: {backgroundColor: 'RGBA(255,255,255,.5)', rotation: '-75' ,align:'top',anchor: 'end'},fill: false, borderColor: 'red', data: keys.data  }]}"
                                                                        [options]="options[j]"></chart>


                                                                <div class="text-center" style="margin-bottom: 15px;">
                                                                        <strong>{{keys.heading}}</strong>
                                                                </div>
                                                        </div>
                                                        <!--                                                 </div>
                             -->
                                                </ng-container>
                                        </div>
                                </div>
                        </div>
                        <!-- Highlights Graphs Ends Here -->
                        <!-- Key Balanche Sheet Table Starts Here -->
                        <div>
                                <ng-container>
                                        <div class="row m-t-20">
                                                <div class="col-sm-12 key-balance-data-custom">
                                                        <div class="ui-datatable ui-widget">
                                                                <div class="ui-datatable-tablewrapper ui-datatable-resizable">
                                                                        <table class="ui-datatable-resizable custom-highlight-table" id="key_balance_table">
                                                                                <thead class="ui-datatable-thead">
                                                                                        <tr class="ui-datatable-odd ui-widget-content master_head">
                                                                                                <td class="" [attr.colspan]="tableColspan+1">
                                                                                                        <div>
                                                                                                                <span class="ui-cell-data">Key balance
                                                                                                                        sheet
                                                                                                                        data
                                                                                                                </span>
                                                                                                        </div>
                                                                                                </td>

                                                                                        </tr>
                                                                                        <tr class="ui-state-default">
                                                                                                <th class="ui-state-default ui-unselectable-text ui-resizable-column input_column" scope="col">
                                                                                                                <span class="ui-column-title font-normal" style="color:gray; font-style: italic">
                                                                                                                                <em>$ in '000</em>
                                                                                                                </span>
                                                                                                </th>
                                                                                                <th class="financial-data-custom ui-state-default
                                                                                                 ui-unselectable-text ui-resizable-column 
                                                                                                 text-center input_column years_row" scope="col" *ngFor="let timeperoids of timeLines">
                                                                                                        <span class="ui-column-title">{{timeperoids}}</span>
                                                                                                </th>

                                                                                                <!-- <th class="ui-state-default ui-unselectable-text ui-resizable-column" scope="col">
                                                                                                        <span class="ui-column-title"></span>
                                                                                                </th> -->
                                                                                        </tr>
                                                                                        <!-- <tr class="ui-state-default">
                                                                                                <th class="ui-state-default ui-unselectable-text ui-resizable-column input_column" scope="col">
                                                                                                        <span class="ui-column-title font-normal" style="color:gray; font-style: italic"></span>
                                                                                                </th>
                                                                                                <th class="ui-state-default ui-unselectable-text ui-resizable-column text-center input_column"
                                                                                                 scope="col" *ngFor="let timeperoids of timeLines" >
                                                                                                        <span class="ui-column-title">

                                                                                                                <div class="col-md-6 text-right">$</div>
                                                                                                                <div class="col-md-6  text-right">
                                                                                                                        ▲ %
                                                                                                                </div>
                                                                                                        </span>
                                                                                                </th>
                                                                                        </tr> -->
                                                                                </thead>
                                                                                <tbody class="ui-datatable-data ui-widget-content">
<ng-container *ngFor="let key of keyBalanceSheetData">
        <tr class="ui-datatable-even ui-widget-content">
                <td class="report_values_label input_column_label">

                        <span class="ui-cell-data">
                                {{key.heading}}    ($)
                        </span>

                </td>

                <td class="report_values input_column"  *ngFor="let values of key.data; let j = index">

                        <span class="ui-cell-data">
                                <div class="col-md-6 text-right" [ngStyle]="values <= 0 && {'color': 'red'}">

                                        {{values != null ? (values | number) : "n.a."}}

                                </div>
                        </span>

                </td>
        </tr>

        <tr class="ui-datatable-even ui-widget-content">
                <td class="report_values_label input_column_label">
                        <span class="ui-cell-data">
                                ▲ %
                        </span>
                </td>

                <td class="report_values input_column"  *ngFor="let values of key.data; let j = index">
                        <span class="ui-cell-data">
                                <div class="col-md-6  text-right" [ngStyle]="key.yoys[j] <= 0 && {'color': 'red'}">
                                        <em>{{key.yoys[j]
                                                !=
                                                null
                                                ?
                                                ((key.yoys[j]
                                                |
                                                number)+'%')
                                                :
                                                "n.a."}}
                                        </em>
                                </div>
                        </span>

                </td>
        </tr>


        <tr class="ui-datatable-even ui-widget-content" *ngIf="key.type =='GRAPH_TABLE' || key.type =='TABLE'">
                <td class="report_values_label input_column_label" >

                        <span class="ui-cell-data yoy" [ngStyle]="{value: values >=0 ? 'black' : 'red'}">
                                ▲ %
                        </span>

                </td>

                <td class="report_values input_column"  *ngFor="let values of key.yoys">

                        <span class="ui-cell-data yoy">
                                <em>{{values
                                        !=
                                        null
                                        ?
                                        ((values
                                        |
                                        number
                                        )+'%')
                                        :
                                        'n.a.'}}
                                </em>
                        </span>

                </td>

                <!-- One Additional td to maintain the automatic space as in the design -->
                <td class="report_values">
                        <span class="ui-cell-data">

                        </span>
                </td>
        </tr>
</ng-container>
                                                                                </tbody>
                                                                        </table>
                                                                        <hr class="hr_style" />
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </ng-container>
                        </div>
                        <!-- Key Balanche Sheet Table Ends Here -->



                        <!-- HTML For Tabular View Starts Here -->
                        <div id="cync_main_contents_tabular">
                                <ng-container>
                                        <div class="row m-t-20" *ngFor="let category of tabularCategories; let k= index">
                                                <div class="col-sm-12 abc-table">
                                                        <div class="ui-datatable ui-widget">
                                                                <div class="ui-datatable-tablewrapper ui-datatable-resizable">
                                                                        <table id="{{'table_content'+k}}">
                                                                                <thead class="ui-datatable-thead">
                                                                                        <tr class="ui-datatable-odd ui-widget-content master_head">
                                                                                                <td class="" [attr.colspan]="tableColspan+2">
                                                                                                        <div>
                                                                                                                <span class="ui-cell-data">{{category.name}}</span>
                                                                                                        </div>
                                                                                                </td>

                                                                                        </tr>
                                                                                        <tr class="ui-state-default">
                                                                                                <th class="ui-state-default ui-unselectable-text ui-resizable-column text-right input_column" scope="col">
                                                                                                        <!-- <span class="ui-column-title font-normal">Period</span> -->
                                                                                                </th>
                                                                                                <th class="ui-state-default ui-unselectable-text ui-resizable-column text-right input_column" scope="col" *ngFor="let timeperoids of finTimeline">
                                                                                                        <span class="ui-column-title">{{timeperoids}}</span>
                                                                                                </th>

                                                                                                <th class="ui-state-default ui-unselectable-text ui-resizable-column" scope="col">
                                                                                                        <span class="ui-column-title"></span>
                                                                                                </th>
                                                                                        </tr>
                                                                                </thead>
                                                                                <tbody class="ui-datatable-data ui-widget-content">

                                                                                        <tr class="ui-datatable-even ui-widget-content" *ngFor="let datasets of category.datasets">
                                                                                                <td class="report_values_label input_column_label">

                                                                                                        <span class="ui-cell-data">
                                                                                                                {{datasets.label}}
                                                                                                        </span>

                                                                                                </td>

                                                                                                <td class="report_values text-right input_column" *ngFor="let colmnvalues of datasets.tabularView">
                                                                                                        <span class="ui-cell-data" [ngStyle]="{color: colmnvalues.color}">
                                                                                                                {{(colmnvalues.result | number) != null  ? colmnvalues.result : 'n.a.' }}{{category.symbol != null ? category.symbol : ''}}
                                                                                                        </span>
                                                                                                </td>

                                                                                                <!-- One Additional td to maintain the automatic space as in the design -->
                                                                                                <td class="report_values">
                                                                                                        <span class="ui-cell-data">

                                                                                                        </span>
                                                                                                </td>
                                                                                        </tr>
                                                                                </tbody>
                                                                        </table>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>

                                </ng-container>
                        </div>
                        <!-- HTML For Tabular View Ends Here -->

                        <!-- Back to summary section starts -->
                        <div class="row sticky_btn_actions left_0">
                                <hr>
                                <div class="col-md-7">
                                        <span>
                                                <!-- <i class="fa fa-1x fa-info-circle clr_orange"></i> -->
                                        </span>
                                        <!-- <span>To View Financial Highlights, please add Financial Ratio too.</span> -->
                                </div>
                                <div class="col-md-5 text-right">
                                        <button id="action_save" (click)="backSummaryPage()" label="Save" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn">
                                                <span class="ui-button-text ui-clickable no-pad">Back to Summary</span>
                                        </button>
                                </div>
                        </div>
                        <!-- Back to summary section ends -->
                </div>

        </div>
</div>