<div class="app-body-container bg-white currency-holiday-custom" id="app-body-container" ng-show="yes_visible" ng-controller="app_body_container">
        <div class="close-btn-dash pull-right text-right top-action-btns">

    <!-- <div ng-click="hide_app_body()" class="pull-right hand"><i class="fa fa-times fa-2x clr_gray light_1" aria-hidden="true"></i></div> -->
    <!-- <div ng-click="hide_app_body()" class="pull-right hand m_r_5"><i class="fa fa-compress clr_gray" aria-hidden="true"></i></div> -->
        </div>            <div class="pad-inner">
                <h3 class="no-m-bt">Currency Holiday</h3>
                <!-- <small class="hidden-xs hidden-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit</small> -->
                <div class="brder-1 p-t-32">
                    <div class="has-scrollbar" id="main_contents">
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  md-p-b-20">
                                <label required="required">Currency<span class="required">*</span></label>
                               <!--  <select (change)="setCurrecyCode(currencyHolidaysModel.currency.currencyCode)" [(ngModel)]="currencyHolidaysModel.currency" [ngClass]="(isSelectedCurrency==true)?  'form-control':'form-control has-error'" id="sel1" (change)="isRequired()">
                                    <option disabled="" [ngValue]="null">Select</option>
                                   <option *ngFor="let currency of currencyDetails" [ngValue]="currency">{{currency.currencyName}}</option>
                                </select> -->
                                <!-- <label *ngIf="!isSelectedCurrency" class="required">Required</label> -->
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 md-p-b-20">
                                <label class="help mandatory">Code</label>
                                <input [(ngModel)]="currencySelCode" type="text" class="form-control ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched"  disabled>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-1 col-lg-1 md-p-b-20">
                                <label class="help mandatory">Year<span class="required">*</span></label>
                                <input type="text" required (focusout)="focusOutFunctionName('year')" [ngClass]="(isSelectedYear==true)?  'form-control':'form-control has-error'" maxlength="4" placeholder="" [(ngModel)]="currencyHolidaysModel.year" name="ccHolidayYr" #ccHolidayYr="ngModel">                                

                                <!-- <label *ngIf="ccHolidayYr.errors && (ccHolidayYr.dirty || ccHolidayYr.touched || !isSelectedYear)" class="required">Required</label> -->
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 md-p-b-20">
                                <label class="help mandatory">Holiday Name<span class="required">*</span></label>
                                <input type="text" (focusout)="focusOutFunctionName('holidayName')" required [ngClass]="(isSelectedHolidayname==true)?  'form-control':'form-control has-error'" placeholder="" [(ngModel)]="currencyHolidaysModel.holidayDescription" name="ccHolidayName" #ccHolidayName="ngModel">                            

                                <!-- <label *ngIf="ccHolidayName.errors && (ccHolidayName.dirty || ccHolidayName.touched || !isSelectedHolidayname)" class="required">Required</label> -->
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 md-p-b-20">
                                <label class="help mandatory">From Date<span class="required">*</span></label>
                                <!-- <ng2-datepicker [options]="options" [(ngModel)]="selectedfromDate"></ng2-datepicker> -->
                                <!-- <label *ngIf="!isSelectedFromDt" class="required">Required</label> -->
                                <!-- <input type="date" [ngClass]="(isSelectedFromDt==true)?  'form-control':'form-control has-error'" placeholder="" [(ngModel)]="selectedfromDate"> -->
                                <p-calendar [ngClass]="(isSelectedFromDt==true)?  'form-control from-date':'form-control has-error'" [(ngModel)]="selectedfromDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 md-p-b-20">
                                <label class="help mandatory">To Date<span class="required">*</span></label>
                              <!-- <ng2-datepicker [(ngModel)]="selectedtoDate"></ng2-datepicker> -->
                                <!-- <input type="date" class="form-control form-control ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched"  placeholder="" [(ngModel)]="selectedToDate"> -->
                                <p-calendar [ngClass]="(isSelectedToDt==true)?  'form-control from-date':'form-control has-error'" [(ngModel)]="selectedToDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 md-p-b-20">
                                <label class="help mandatory">Status</label>
                                <select [(ngModel)]="currencyHolidaysModel.holidaysStatus" class="form-control form-control ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched">
                                    <!-- <option disabled="" [ngValue]="null">Select</option> -->
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>                                   
                                </select>
                            </div>
                           <!--   <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                <label class="ui-chkbox-label" for="entertainment">Entertainment</label>
                                 <input [(ngModel)]="currencyHolidaysModel.recurring" type="checkbox" id="entertainment" name="group2" value="Entertainment">
                            </div> -->
                            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                <div class="help mandatory">&nbsp;</div>
                                <p-checkbox [(ngModel)]="currencyHolidaysModel.recurring" binary="true" _ngcontent-c2="" inputid="recurring" label="Recurring" name="group2" value="true" class="ng-untouched ng-pristine ng-valid">                  
                                </p-checkbox>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-right sticky_btn_actions">
<hr>
 <button (click)="navigateToHome($event)" id="action_cancel" label="Cancel" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn"><span class="ui-button-text ui-clickable no-pad">Cancel</span></button>
 <button (click)="createCurrencyHolidays()" id="action_save" label="Save" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn"><span class="ui-button-text ui-clickable no-pad">Save</span></button>
    </div>                    </div>
                </div>
            </div>
        </div>