.roll-forwards {
  height: calc(100vh - 310px);
  overflow-y: auto;
  display: block;
}
.m-left {
  margin-left: 14px !important;
}
.margin-0 {
  margin: 0px !important;
}

.setwidth {
  width: 15vw;
  height: 24px;
  padding: 3px 5px !important;
  border-radius: 1px !important;
}
.p-7 {
  padding: 7px !important;
}
.p-right {
  padding-right: 7px;
}
