.margin-left{
  margin-left: 4px;
}
.broker{
height: 30px;
margin-bottom: 5px;

}
.close-btn{
  text-align: right !important;
  float: right !important;
  margin-top: -24px;
}
.margin-bottom{
  margin-bottom: 7px;
}
.color{

  color:#333 !important;
}
.btn{
  background-color: #e1630b;
  color: #FFF;
  // display: inline-block;
  text-align: right !important;
  float: right !important;
  font-size: 13px;
  height: 25px !important;
  margin-left: 8px;
  padding: 5px;
  line-height: 10px;
}
.top-title{
  font-size: 14px;
  border-bottom: 1px solid #aaaa;
  padding: 3px;  
  text-align: center !important;
}
.line-height{
  line-height: 31px;
  float: right;
}