$cync_global_bg_color_head : #00368e;
$disabled_btn :#e1e5ec;
$disabled_btn_color: #757575;
$cync_global_bg_color_hover : #0e4ead;

$cync_global_font_color: black;

$cync_global_bg_color : #0066ff;
$cync_global_bg_color_hover : #0e4ead;

$cync_button_bg : $cync_global_bg_color;
$cync_button_bg_hover : $cync_global_bg_color_head;

$cync_button_border_color: $cync_global_bg_color;

$cync_hyperlink_color:  $cync_global_bg_color;
$cync_hyperlink_color_hover: $cync_global_bg_color_hover;


$cync_disabled_btn_color: #757575;
$cync_disabled_btn_bg_color: #e1e5ec ;

$cync_disabled_btn_bg_hover_color: #9e9e9e;




$cync_sub_nav_border_color_hover : $cync_global_bg_color_hover;
$cync_sub_nav_border_active_color: $cync_global_bg_color_hover;

$cync_border_radious : 3px;