//Ineligible Resons CSS

label {
    font-size: 11px !important;
  }
  
  .commonDropdownStyle {
    width: 100%;
    height: 2.3vw;
  }
  .baserow {
    height: 4vw;
  }
  .commoncheckboxStyle {
    margin-right: 0.6vw;
  }
  .checkboxRow {
    height: 4vw;
  }
  
  .bPCommonTitles {
    padding-top: 0.3vw;
  
    height: 3.3vw;
    background: #f8f8f8;
    border-bottom: 1px solid lightgrey;
  }
  .IneligibleCommonTitles {
    padding-top: 0.3vw;
    padding-left: 2vw;
    height: 3.3vw;
    font-size: 13px;
  }
  .ineligibleResonSubCat {
    padding-bottom: 20px;
    border-bottom: 0.7px solid lightgrey;
  }
  .basicParameterWarpbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .bPCommonCardsBlock {
    padding-left: 0.8vw;
  }
  
  .bpcommonElementBoxMd {
    width: 20vw;
  }
  
  .bpcommonElementBoxLg {
    width: 25vw;
  }
  
  .bpcommonElementBoxSm {
    width: 16vw;
  }
  
  .bpcommonElementCheckBoxMd {
    margin-top: 10px;
    display: flex;
    width: 20vw;
    align-items: center;
    justify-content: flex-start;
  }
  
  .bpcommonElementCheckBoxLg {
    margin-top: 10px;
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: flex-start;
  }
  
  .margin-box-common {
    margin-right: 1.7vw;
    margin-top: 1vw;
  }
  
  .margintopforcheckbox {
    margin-top: 6px;
  }
  
  .margin-Checkbox-common {
    margin-right: 1.7vw;
    margin-top: 1.5vw;
  }
  
  .container {
    white-space: nowrap;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #eee;
    border: 1px solid lightgrey;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .container input:checked ~ .checkmark {
    background-color: #2196f3;
  }
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .bpRightTextAlign {
    text-align: right;
  }
  
  #crossAgeBucket{
    cursor: pointer;
  }
  