.ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
  width: 72% !important;
  height: 40px !important;
}
.template {
  padding-bottom: 15px;
}
.align {
  text-align: -webkit-center;
  text-align: -moz-center;
  padding-right:180px;
}
.list-of-reason {
  font-size: 14px;
  float: left;
  color: black;
}
.m-right {
  margin-right: 10px;
}
