<div class="app-body-container bg-white" id="app-body-container" ng-show="yes_visible" ng-controller="app_body_container">
	<div class="close-btn-dash pull-right text-right top-action-btns">
	</div>
	<div class="pad-inner">
		<!-- Heading of advance rate -->
		<h3 class="no-m-bt">Advance Rate</h3>

		<!-- Radio button selection code start -->
		<div class="row brder-1 p-t-32 email-header">
			<div class="btn-group btn-group-vertical-email col-xs-12 col-sm-12 col-md-10 active" data-toggle="buttons">

				<label class="btn radio-inline col-xs-6 col-sm-6 col-md-1 w_140" [routerLink]="['/bbc-preference-setup/advance-rate/collateral-advance-rate']">
					<input formcontrolname="selectedValue" name="selectedValue" type="radio" value="" ng-reflect-name="selectedValue" ng-reflect-form-control-name="selectedValue"
					 ng-reflect-value="" ng-reflect-model="text_template" class="ng-untouched ng-pristine ng-valid">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-dot-circle-o fa-2x"></i>
					<span>Colleteral</span>
				</label>

				<label class="btn radio-inline col-xs-6 col-sm-6 col-md-2">
					<input checked formcontrolname="selectedValue" label="Text Templates" name="selectedValue" type="radio" value="text_template"
					 ng-reflect-name="selectedValue" ng-reflect-form-control-name="selectedValue" ng-reflect-value="" ng-reflect-model=""
					 class="ng-untouched ng-pristine ng-valid">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-dot-circle-o fa-2x"></i>
					<span> Seasonal</span>
				</label>
			</div>
		</div>
		<!-- Radio button selection code end -->

		<!-- Division dropdown selection start -->
		<div class="row" style="padding-bottom: 10px;">
			<div class="col-xs-12 col-sm-4 col-md-6 p_b_10" style="padding-bottom:0px;">
				<div class="col-xs-12 col-sm-4 col-md-6 p_b_10" style="padding: 0px;">
					<select [(ngModel)]="selectedDivisionValue" (change)="changeDivisionType($event.target.value)" class="form-control ng-untouched ng-pristine ng-valid"
					 formcontrolname="division_Type">
						<option value="null">All Divisions</option>
						<option *ngFor="let divisionObject of divisionsList" value="{{divisionObject.id}}">{{divisionObject.description}}</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-6 p_b_10">
			</div>
		</div>
		<!-- Division dropdown selection start -->

		<div class="row">
			<div class="p-t-16" id="seasonal_advance_rate_main_div">
				<div>
					<div class="ui-datatable-tablewrapper">

						<!-- HEADER WITH SEARCH BOX, ADD,EDIT,DELETE ICONS STARTS -->
						<div class="cync-grid-search row no-marg">

							<!-- SEARCH INPUT FIELD STARTS -->
							<div class="col-md-8 col-sm-6 col-xs-12 p_l_2 hidden-xs hidde-sm no-pad">
								<div *ngIf="seasonalAdvanceRateGridModel.isSearchAvailable" class="input-group grid-search">
									<input #gb_seasonal_advance_rate (keyup)="onKeyUp($event)" placeholder="Search Here" [(ngModel)]="searchTerm" type="text"
									 class="form-control search-input-text" aria-describedby="basic-addon3" autocomplete="off">
									<span (click)="clearSearchBox()" class="input-group-addon icon-input-field border-right-none">
										<i *ngIf="toogleCloseBox" class="fa fa-close" aria-hidden="true"></i>
										<i *ngIf="toogleSearchBox" class="fa fa-search" aria-hidden="true"></i>
									</span>
									<a *ngIf="seasonalAdvanceRateGridModel.isAdvanceSearchAvailable" class="m-l-10 adv_search" style="cursor: pointer;">Advanced Search</a>
								</div>
							</div>
							<!-- SEARCH INPUT FIELD ENDS -->

							<!-- ADD,EDIT,DELETE,EXPORT ICONS STARTS -->
							<div class="col-md-4 col-sm-6 col-xs-12 pull-right top-action-btns text-right no-pad" *ngIf="!seasonalAdvanceRateGridModel.onlyListingComponent">
								<i id="New" [ngClass]="(isAddPermitted)? 'hand fa fa-plus fa-1x f_s_20 clr_grey ':'hand fa fa-plus fa-1x f_s_20 clr_grey icon_disabled operation_disabled'"
								 aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Add New" *ngIf="seasonalAdvanceRateGridModel.isAddFunctionalityRequired && isAddPermitted"
								 (click)="goToAdd()"></i>
								<i id="Edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit" *ngIf="seasonalAdvanceRateGridModel.isEditFunctionalityRequired && isEditPermitted"
								 (click)="goToEdit()" [ngClass]="(toggleEditIcon) ? 'hand fa fa-pencil fa-1x clr_grey f_s_20':'hand fa fa-pencil fa-1x clr_grey f_s_20 icon_disabled operation_disabled'"></i>
								<i id="Delete" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete" *ngIf="seasonalAdvanceRateGridModel.isDeleteFunctionalityRequired && isDeletePermitted"
								 (click)="delete()" [ngClass]="(toggleDeleteIcon) ? 'hand fa fa-trash fa-2x f_s_20 clr_grey ':'hand fa fa-trash fa-2x f_s_20 clr_grey icon_disabled operation_disabled'"></i>
								<i id="Export" *ngIf="seasonalAdvanceRateGridModel.isExportFunctionalityRequired && isExportPermitted" class="hand fa fa-share-square-o fa-2x  clr_grey f_s_20"
								 aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Export" (click)="showDialogForExport()"></i>

								<!-- SETTINGS ICON STARTS  -->
								<button data-toggle="dropdown" class="dropdown-toggle plain" aria-expanded="true" *ngIf="seasonalAdvanceRateGridModel.isMoreIconsRequired">
									<i id="more" class="hand fa fa-ellipsis-v fa-2x clr_grey f_s_20" aria-hidden="true" data-toggle="tooltip" data-placement="left"
									 title="More"></i>
								</button>

								<ul *ngIf="seasonalAdvanceRateGridModel.isMoreIconsRequired" class="dropdown-menu no-t-pad grid-menu-dropdown">
									<li>
										<a class="hand">Settings</a>
									</li>
								</ul>
								<!-- SETTINGS ICON ENDS -->
							</div>
							<!-- ADD,EDIT,DELETE,EXPORT ICONS ENDS -->
						</div>
						<!-- HEADER WITH SEARCH BOX, ADD,EDIT,DELETE ICONS ENDS -->

						<!-- DATATABLE STARTS -->
						<div class="has-scrollbar" id="main_contents" (scroll)="onScroll($event)">
							<p-dataTable *ngIf="isDataLoading" [scrollable]="false" #dt [value]="gridData" (onRowSelect)="goToView($event)" (onRowUnselect)="unSelectChkBox($event)"
							 sortMode="multiple" (onHeaderCheckboxToggle)="selectAllChkBox()" dataKey="id" selectionMode="multiple" [lazy]="false"
							 [(selection)]="selectedRows" (onFilter)="printFilteredData($event)" [globalFilter]="gb_seasonal_advance_rate">
								<p-column *ngIf="!seasonalAdvanceRateGridModel.onlyListingComponent" selectionMode="multiple" disableSelection="true"></p-column>
								<p-column *ngFor="let col of seasonalAdvanceRateGridModel.columnDef;" [sortable]="col.sortable" [filter]="col.filter" [field]="col.field"
								 [header]="col.header" [hidden]="col.hidden" filterMatchMode="contains" [style]="{'width':'200px'}" filterPlaceholder="Search">
									<ng-template pTemplate="body" let-file="rowData">
										{{file[col.field]}}
									</ng-template>
								</p-column>
							</p-dataTable>
						</div>
						<!-- DATATABLE ENDS -->

						<!-- RECORD COUNT INFORMATION STARTS  -->
						<div *ngIf="isDataLoading" class="grid-loader">
							<div *ngIf="recordCount == -1;then grid_count_template else record_count_template">here is ignored</div>
							<ng-template #grid_count_template>
								<p class="recordcount">
									<b>Showing {{gridData.length}} of {{showTotalrecords}} records</b>
								</p>
							</ng-template>
							<ng-template #record_count_template>
								<p *ngIf="recordCount != -1 && recordCount != gridData.length ; else grid_count_template" class="recordcount less_count">
									<b>Showing {{recordCount}} of {{showTotalrecords}} records
									</b>
								</p>
							</ng-template>
							<!-- below code is to show loader when user scrolls -->
							<span [hidden]="!showSpinner" class="center">
								<i class="fa fa-spinner fa-spin spinner-color"></i> Loading... &nbsp;
							</span>
						</div>
						<!-- RECORD COUNT INFORMATION ENDS -->
						
						<!-- EXPORT CONFIRMATION POP UP STARTS -->
						<div class="form-group">
							<p-dialog header={{seasonalAdvanceRateGridModel.type}} [(visible)]="toogleExportConfirmPoupup" appendTo="body" [modal]="true"
							 width="500" height="auto" [responsive]="true">
								<div *ngFor="let col of exportColumns">
									<p-checkbox binary="true" [(ngModel)]="col.isChecked" label={{col.columnName}}></p-checkbox>
									<br>
									<br>
								</div>

								<p-footer>
									<button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn btn btn-primary"
									 pButton icon="fa-check" label="Export" (click)="exportSelectedColumns(exportColumns)">
										<span>Export</span>
									</button>
								</p-footer>
							</p-dialog>
						</div>
						<!-- EXPORT CONFIRMATION POP UP ENDS -->

						<!-- EXPORT WARNING POP UP STARTS -->
						<div class="form-group">
							<p-dialog header="Error" [(visible)]="isExportWarningPopupVisible" appendTo="body" [modal]="true" width="300" height="auto"
							 [responsive]="true">
								<p style="color:red;">Select columns to export.</p>
							</p-dialog>
						</div>
						<!-- EXPORT WARNING POP UP ENDS -->

					</div>
				</div>
			</div>
		</div>

	</div>

</div>