<div class="app-body-container bg-white" id="cync_app-body-container" ng-show="yes_visible" ng-controller="app_body_container">
    <div class="close-btn-dash pull-right text-right top-action-btns">
    </div>
    <div class="pad-inner">
        <h3 class="no-m-bt">Loan Type - Summary</h3>
        <div class="p-t-16">
            <div>
                <div class="ui-datatable-tablewrapper">
                    <custom-grid [gridModel]="loanTypeModel"></custom-grid>
                </div>
            </div>
        </div>

    </div>
</div>