        <div class="app-body-container bg-white" id="app-body-container" ng-show="yes_visible" ng-controller="app_body_container">
            <div class="close-btn-dash pull-right text-right top-action-btns">
            <!-- <div ng-click="hide_app_body()" class="pull-right hand"><i class="fa fa-times fa-1x f_s_16 clr_gray" aria-hidden="true"></i></div> -->
            <!-- <div ng-click="hide_app_body()" class="pull-right hand m_r_5"><i class="fa fa-compress clr_gray" aria-hidden="true"></i></div> -->

                 
            </div>
            <div class="pad-inner">
                <h3 class="no-m-bt">Rate Type</h3>
                <!-- <small class="hidden-xs hidden-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit</small> -->
                <div class="brder-1 p-t-32">
                    <div class="has-scrollbar" id="main_contents">
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-4 col-md-3 ad-bt-pad col-lg-2">
                                <label class="mandatory" for="currency_code">Rate Type<span class="required">*</span></label>
                                <input [(ngModel)]="postModel.rateTypeName" type="text" [ngClass]="(isRequiredName==true)?  'form-control':'form-control has-error'" maxlength="30" name="rateTypeName" (focusout)="focusOutFunctionName()" #rateTypeName="ngModel">
                                <!-- <label *ngIf="rateTypeName.errors && (rateTypeName.dirty || rateTypeName.touched || !isRequired)" class="required">Required</label> -->
                            </div>
                             <div class="col-xs-12 col-sm-8 col-md-4 ad-bt-pad col-lg-4">
                                <label class="mandatory" for="currency_code">Description<span class="required">*</span></label>
                                <input maxlength="50" [(ngModel)]="postModel.rateTypeDescription" type="text" [ngClass]="(isRequiredDesc==true)? 'form-control':'form-control has-error'" (focusout)="focusOutFunctionDesc()">
                            </div>
                            
                             <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-right sticky_btn_actions">
<hr>
 <button (click)="navigateToHome()" id="action_cancel" label="Cancel" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn"><span class="ui-button-text ui-clickable no-pad">Cancel</span></button>
 <button (click)="saveRateType()" id="action_save" label="Save" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn"><span class="ui-button-text ui-clickable no-pad">Save</span></button>
    </div>                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>