<div mat-dialog-title>
  <label class="top-title"> Add New </label>
  <i style="font-size:20px; cursor: pointer;" class="fa close-btn pull-right" (click)="rollforwardLogCloseClick()">&#xf057;</i>
</div>
<div mat-dialog-content>
  <div class="hrline"></div>
  <div class="pad-inner">
    <section>
      <div class="rollForward-AddForm" [formGroup]="rollForwardLogsForm">
        <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-md-3">
            <label for="name">Activity Date </label>
            <div style="display: block;">
              <p-calendar showOn="button" class='cync-png-calendrar' formControlName="activity_date" [monthNavigator]="true"
                [yearNavigator]="true" yearRange="1956:2030" [showIcon]="true" dateFormat="mm/dd/yy">
              </p-calendar>
            </div>
          </div>
          <div class="ui-g-12 ui-md-3">
            <label class="drop">Division</label>
            <select class="form-control" id="division" formControlName="division_code_id" #divName (change)="getCollateralData(divName.value)">
              <option value='-1' *ngIf="!rollforward_to_adjust_collateral" selected>All</option>              
              <option value='-1' *ngIf="rollforward_to_adjust_collateral" selected> Select </option> 
              <option *ngFor="let list of divisionData" [value]='list.id'>{{list.name}}</option>
            </select>
          </div>
          <div class="ui-g-12 ui-md-3">
            <label class="drop">Collateral <span *ngIf="rollforward_to_adjust_collateral" style="color: red;">*</span> </label>
            <select class="form-control" id="collateral" formControlName="collateral_advance_rate_id" (change)="getCollateralId($event)">
              <option value='-1' *ngIf="!rollforward_to_adjust_collateral" selected>All</option>
              <option value='-1' *ngIf="rollforward_to_adjust_collateral" selected> Select </option> 
              <option *ngFor="let list of collateralData" [value]='list.id'>{{list.name}}</option>
            </select>
          </div>
          <div class="ui-g-12 ui-md-3">
            <label for="new_sale">New Sales</label>
            <input type="number" class="form-control" formControlName="new_sale" autocomplete="off" (keypress)='onKeyPressEvent($event)' (focusout)='toValidateNumber($event)'>
          </div>
        </div>
        <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-md-3">
            <label for="new_credit">New Credits</label>
            <input type="number" class="form-control" formControlName="new_credit" autocomplete="off" (keypress)='onKeyPressEvent($event)' (focusout)='toValidateNumber($event)'>
          </div>
          <div class="ui-g-12 ui-md-3">
            <label for="identificationNumber">New Cash Collected</label>
            <input type="number" class="form-control" formControlName="cash_collected" autocomplete="off" (keypress)='onKeyPressEvent($event)' (focusout)='toValidateNumber($event)'>
          </div>
          <div class="ui-g-12 ui-md-3">
            <label for="identificationNumber">New Adjustments</label>
            <input type="number" class="form-control" formControlName="new_adjustment" autocomplete="off" (keypress)='onKeyPressEvent($event)' (focusout)='toValidateNumber($event)'>
          </div>
          <div class="ui-g-12 ui-md-3">
            <label for="identificationNumber">BBC Adjustment</label>
            <input type="number" class="form-control" formControlName="bbc_adjustment" autocomplete="off" (keypress)='onKeyPressEvent($event)' (focusout)='toValidateNumber($event)'>
          </div>
        </div>
      </div>
    </section>
    <div class="hrline"></div>
    <section class="btnPanel">
      <div class="row rightAlign">
        <button label="Cancel" pButton type="button" (click)="cancelButtonClick()" class="cync-png-button">
        </button>
        <button pButton  class="cync-png-button" label="Submit" [disabled]="isvalidform()" type="button"
          (click)="saveRollForwardData(rollForwardLogsForm.getRawValue())">
        </button>
      </div>
    </section>
  </div>
</div>