.mat-dialog-content {
  margin: 0px;
  padding: 0px;
}
.border-bottom {
  font-size: 14px;
  padding: 10px;
}
.margin-top {
  margin-top: 10px;
}
.mat-dialog-title {
  margin: 4px 10px 0px 10px;
  height: 34px;
}
.top-title {
  font-size: 14px;
}
.hrline {
  border-top: 1px solid #aaaa;
}
.btnPanel {
  padding-top: 5px;
}
.margin-right {
  margin-right: 5px;
}
.cync-png-button {
  height: 32px;
  margin: 2px 4px 2px 4px;
}
.rightAlign {
  text-align: right;
}

