<form [formGroup]="exportForm" data-parsley-validate novalidate #addform="ngForm" style="padding:15px; margin: 10px;">
  <h6 mat-dialog-title>User Roles
    <a (click)="onClickCloseButton()" class="close-icon">
      <span>&times;</span>
    </a>
  </h6>
  <mat-dialog-content class="mat-typography">
    <ng-container formArrayName="menuPermissionArray">
      <div class="export-layout">
        <div *ngFor="let perm of exportForm.controls.menuPermissionArray['controls']; let i = index" [formGroupName]="i">
          <ul>
            <li>
              <label>
                <input type="checkbox" formControlName="isParentChecked" (change)="onCheckParentMenu($event,perm.controls.sub_menu_name.value,perm.controls.sub_menu_id.value,i)"
                  [checked]="perm.controls.isParentChecked.value">
                <span class="checkmark"></span> {{perm.controls.sub_menu_name.value}}
              </label>
              <ul class="inner-list" formArrayName="submenu_list">
                <li *ngFor="let subPerm of perm.controls.submenu_list.controls; let j=index" [formGroupName]="j">
                  <div>

                    <label>
                      <input type="checkbox" formControlName="isChildChecked" [checked]="subPerm.controls.isChildChecked.value" (change)="onCheckSubMenu($event,subPerm.controls.sb_sub_menu_name.value,subPerm.controls.sb_sub_menu_id.value,i,j)">
                      <span class="checkmark"></span> {{subPerm.controls.sb_sub_menu_name.value}}
                    </label>

                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <span style="float:left;">
      <input (change)="onCheckSelectAll($event,exportForm.value)" type="checkbox" checked> Select All</span>
    <button pbutton="" type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only options-btn margin-top20"
      label="Export" (click)="onClickExportButton(exportForm.value);">
      <span class="ui-button-text ui-clickable no-pad">Export</span>
    </button>
  </mat-dialog-actions>
</form>