.row{
  margin: 8px;
  padding-bottom: 0px;
}
.top-title{
      font-size: 14px;
      border-bottom: 1px solid #aaaa;
      padding: 0px 8px;  
}

.broker{
  margin-left: 10px;
  width: 120px;
  height: 25px;
}
.margin-left{
  margin-left: 10px;
}
.btn{
  background-color: #e1630b;
  color: #FFF;
  font-size: 12px;
  height: 24px !important;
  margin-left: 8px;
  display: inline-block;
  line-height: 15px;
  padding: 4px;
}
.cync-inputstyle{
   height: 24px; padding: 2px; border-radius: 2px; border:1px solid #aaa;
  }

  .p-top{
    padding-top: 6px;
  }
  .p-right{
    padding-right: 0px;
    text-align: right;
    float: right;
  }